<div class="list">
    <h1 class="item item-divider">Hours and Locations</h1>
</div>	
<div class="card" ng-repeat="location in locations">
    <div class="item">
        <h2 class="location_name">{{location.fullname}}</h2>
        <div class="row responsive-sm">
            <div class="col col-25 center">
                <img ng-src="http://www.tadl.org/sites/default/files/libraryphotos/{{location.shortname}}-200x125.jpg" err-src="/img/clocktower100.png" class="location_image" />
            </div>
            <div class="col col-75 center">
                <div>{{location.address}}</div>
                <div>{{location.citystatezip}}</div>
                <div><i class="icon ion-ios7-telephone"></i> <a href="tel:{{location.phone}}">{{location.phone}}</a></div>
                <div><i class="icon ion-email"></i> <a href="mailto:{{location.email}}">{{location.email}}</a></div>
            </div>
        </div>
    </div>
    <div class="item hours-display">
        <div class="hours-row hours-row-odd">
            <span class="detail_key">Sunday</span>
            <span class="detail_value">{{location.sunday}}</span>
        </div>
        <div class="hours-row hours-row-even">
            <span class="detail_key">Monday</span>
            <span class="detail_value">{{location.monday}}</span>
        </div>
        <div class="hours-row hours-row-odd">
            <span class="detail_key">Tuesday</span>
            <span class="detail_value">{{location.tuesday}}</span>
        </div>
        <div class="hours-row hours-row-even">
            <span class="detail_key">Wednesday</span>
            <span class="detail_value">{{location.wednesday}}</span>
        </div>
        <div class="hours-row hours-row-odd">
            <span class="detail_key">Thursday</span>
            <span class="detail_value">{{location.thursday}}</span>
        </div>
        <div class="hours-row hours-row-even">
            <span class="detail_key">Friday</span>
            <span class="detail_value">{{location.friday}}</span>
        </div>
        <div class="hours-row hours-row-odd">
            <span class="detail_key">Saturday</span>
            <span class="detail_value">{{location.saturday}}</span>
        </div>
    </div>
</div>
